n8n/workflows/tuss-ans-scraper.json
{
  "name": "FinHealth - TUSS ANS Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1
            }
          ]
        }
      },
      "id": "schedule-weekly",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.gov.br/ans/pt-br/assuntos/prestadores/tuss-702702702702702702702terminologia-unificada-em-saude-suplementar/tuss-702702702702702702702702terminologia-unificada-em-saude-suplementar",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-ans-page",
      "name": "Fetch ANS TUSS Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse ANS page to find TUSS spreadsheet links\nconst html = $input.item.json.data;\n\n// Look for Excel/CSV download links\nconst xlsxPattern = /href=\\\"([^\\\"]*\\\\.xlsx?[^\\\"]*)\\\"[^>]*>([^<]*TUSS[^<]*)</gi;\nconst csvPattern = /href=\\\"([^\\\"]*\\\\.csv[^\\\"]*)\\\"[^>]*>([^<]*TUSS[^<]*)</gi;\n\nconst links = [];\nlet match;\n\nwhile ((match = xlsxPattern.exec(html)) !== null) {\n  links.push({ url: match[1], name: match[2], type: 'xlsx' });\n}\n\nwhile ((match = csvPattern.exec(html)) !== null) {\n  links.push({ url: match[1], name: match[2], type: 'csv' });\n}\n\n// If no direct links found, use fallback ANS API\nif (links.length === 0) {\n  return {\n    useFallback: true,\n    message: 'No direct TUSS links found, using fallback API'\n  };\n}\n\nreturn {\n  useFallback: false,\n  links,\n  scrapedAt: new Date().toISOString()\n};"
      },
      "id": "parse-links",
      "name": "Parse Download Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fallback-condition",
              "leftValue": "={{ $json.useFallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-fallback",
      "name": "Check If Fallback Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "=https://dadosabertos.ans.gov.br/FTP/PDA/TUSS/tuss.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-fallback",
      "name": "Fetch TUSS from ANS Open Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.item.json.data;\nconst lines = csvData.split('\\n');\nconst headers = lines[0].split(';');\n\nconst procedures = [];\nfor (let i = 1; i < lines.length && i <= 1000; i++) {\n  const values = lines[i].split(';');\n  if (values.length >= 3) {\n    const code = values[0]?.replace(/\\\"/g, '').trim();\n    const description = values[1]?.replace(/\\\"/g, '').trim();\n    const chapter = values[2]?.replace(/\\\"/g, '').trim();\n    \n    if (code && description) {\n      procedures.push({\n        code,\n        description,\n        chapter: chapter || 'Geral',\n        source: 'ANS_OPEN_DATA',\n        updatedAt: new Date().toISOString()\n      });\n    }\n  }\n}\n\nreturn {\n  procedures,\n  totalCount: procedures.length,\n  source: 'ANS Open Data Portal'\n};"
      },
      "id": "parse-csv",
      "name": "Parse CSV Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "url": "={{ $('Parse Download Links').item.json.links[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file",
      "name": "Download TUSS File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "convert-spreadsheet",
      "name": "Convert Spreadsheet to JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 4.5,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst procedures = items.map(item => {\n  const json = item.json;\n  return {\n    code: json['Codigo'] || json['CODIGO'] || json['codigo'] || '',\n    description: json['Descricao'] || json['DESCRICAO'] || json['descricao'] || json['Termo'] || '',\n    chapter: json['Capitulo'] || json['CAPITULO'] || 'Geral',\n    group_name: json['Grupo'] || json['GRUPO'] || null,\n    procedure_type: json['Tipo'] || json['TIPO'] || 'procedimento',\n    source: 'ANS_SCRAPER',\n    updatedAt: new Date().toISOString()\n  };\n}).filter(p => p.code && p.description);\n\nreturn {\n  procedures,\n  totalCount: procedures.length,\n  source: 'ANS TUSS Spreadsheet'\n};"
      },
      "id": "transform-data",
      "name": "Transform Spreadsheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "all"
      },
      "id": "merge-sources",
      "name": "Merge Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "const procedures = $input.item.json.procedures || [];\nconst batch = procedures.slice(0, 50);\n\nreturn batch.map(proc => ({\n  code: proc.code,\n  description: proc.description,\n  chapter: proc.chapter,\n  group_name: proc.group_name || null,\n  procedure_type: proc.procedure_type || 'procedimento',\n  source: proc.source,\n  updated_at: proc.updatedAt\n}));"
      },
      "id": "prepare-upsert",
      "name": "Prepare Upsert Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zzxdvmuxzzopqvxotdeb.supabase.co/rest/v1/tuss_procedures",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "upsert-tuss",
      "name": "Upsert TUSS Procedures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $('Split Into Batches').all();\nconst totalProcessed = allItems.reduce((sum, item) => {\n  return sum + (item.json.procedures?.length || 0);\n}, 0);\n\nreturn {\n  success: true,\n  totalProceduresUpdated: totalProcessed,\n  completedAt: new Date().toISOString(),\n  message: `TUSS table updated with ${totalProcessed} procedures`\n};"
      },
      "id": "summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2670, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zzxdvmuxzzopqvxotdeb.supabase.co/rest/v1/sync_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sync_type\": \"tuss_scraper\",\n  \"status\": \"completed\",\n  \"records_processed\": {{ $json.totalProceduresUpdated }},\n  \"metadata\": {{ JSON.stringify({ completedAt: $json.completedAt, message: $json.message }) }}\n}",
        "options": {}
      },
      "id": "log-sync",
      "name": "Log Sync Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2890, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase Auth"
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Fetch ANS TUSS Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ANS TUSS Page": {
      "main": [
        [
          {
            "node": "Parse Download Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Download Links": {
      "main": [
        [
          {
            "node": "Check If Fallback Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Fallback Needed": {
      "main": [
        [
          {
            "node": "Fetch TUSS from ANS Open Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download TUSS File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TUSS from ANS Open Data": {
      "main": [
        [
          {
            "node": "Parse CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV Data": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download TUSS File": {
      "main": [
        [
          {
            "node": "Convert Spreadsheet to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Spreadsheet to JSON": {
      "main": [
        [
          {
            "node": "Transform Spreadsheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Spreadsheet Data": {
      "main": [
        [
          {
            "node": "Merge Data Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data Sources": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Prepare Upsert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upsert Data": {
      "main": [
        [
          {
            "node": "Upsert TUSS Procedures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert TUSS Procedures": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Log Sync Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "FinHealth"
    }
  ]
}
